apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - inventory-secret.yaml
  - mysql-secret.yaml
  - order-secret.yaml
  - postgresql-secret.yaml
  - ../../base/postgresql/
  - ../../base/mysql/
  - ../../base/inventory/
  - ../../base/observability/grafana
  - ../../base/observability/loki
  - ../../base/observability/prometheus
  - ../../base/observability/tempo
  - ../../base/order/

patches:
  - path: inventory-service-env-patch.yaml
    target:
      kind: Deployment
      name: inventory-service
  - path: order-service-env-patch.yaml
    target:
      kind: Deployment
      name: order-service